body{

background-image: url(https://www.google.com/search?q=bring+me+the+horizon+wallpaper&sxsrf=ALeKk03bvjr0kdhcxhOKeHVSpMvzDG1vcg:1611159453134&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi7mYXX9KruAhXS-KQKHRX3CzYQ_AUoAXoECBwQAw&biw=1064&bih=944#imgrc=x5JkNxZZhgoy9M&imgdii=k5ek-6foe2Lq5M);
background-repeat: no-repeat;
width: 1920px;
height: 1080px;
}
